.container {
  width: 100vw;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listContainer {
  width: 100%;
}

.list {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  text-align: center;
}

.list:hover,
.list:focus,
.list:active {
  border-color: darkturquoise;
  color: darkturquoise
}
